* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* Navbar */

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  /* background-color: #00492E; */
  /* color: #000000;
} */ 
 
.navbar {
  font-weight: 400;
  color: #00492E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  width: 100%;
  background-color: #fff;
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  @media (max-width: 500px) {
    display: flex;
    height: 80px;
    flex-direction: column;
  }
}

.nav-elements {
  display: flex;
  list-style: none;
  gap: 1rem;
  @media only screen and (max-width: 500px) {
    padding-bottom: 5px;
  }
}

.active {
  font-weight: 700;
}

.nav-elements li {
  cursor: pointer;
}

.nav-elements li:hover:not(.active) {
  text-decoration: underline;
  text-decoration-color: #00492E;
}

.phone {
  text-decoration-line: none;
  background-color: #00492E;
  color: white;
  padding: 10px 20px;
  font-size: 1.1em;
}

.logo {
  width: 200px;
  @media only screen and (max-width: 500px) {
    width: 150px;
    margin-top: 5px;
  }
}


/* About section */

.about {
  background-color: #00492E;
  margin: 0;
}

.about-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  @media only screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

/* .about-container {
  margin: 20px auto;
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-column-gap: 20px;
  align-items: center;
} */

.about-box {
    padding: 20px;
    border-radius: 10px;
    max-width: 50vw;
    align-self: center;
    @media only screen and (max-width: 500px) {
    max-width: 85vw;
  
    }
    
}

.about-box > h3 {
  font-size: 1.75em;
  margin-bottom: 50px;
  color: #CF9831;
  @media only screen and (max-width: 500px) {
    text-align: center;
    }
}

.about-box > h5 {
  font-size: 1.3em;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #fff;
}

.about-box > p {
  color: #fff;
  text-justify: auto;
  text-align: justify;
}

.about-box h6 {
  color: #CF9831;
  margin-top: 20px;
  font-size: 1.3em;
}

.about-p {
  font-size: 1.1em
}

.about-box > img {
  max-height: 90vh;
  border-radius: 20px;
  @media only screen and (max-width: 500px) {
    max-width: 300px;
    margin-top: 20px;
  max-height: 70vh;

  }
}


/* .about > img {
  width: 100%;
  max-height: 80vh;
  border-radius: 15px;
} */

.about > h3 {
  font-weight: 700;
}

/* Services */

.services {
  text-align: center;
}

.services > h2 {
  margin: 40px 0;
  position: relative;
  z-index: 1;

}

.services > h2:before {
  content: "";
  position: absolute;
  left: 42.5%;
  bottom: -5px;
  height: 2px;
  width: 15%;
  border-bottom: 3px solid #00492E;

}

.services-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  row-gap: 20px;
  column-gap: 10px;
  align-self: center;
  margin-bottom: 50px;
  @media only screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;
}
}

.services-box {
  border: 1px solid #CF9831;
  padding-bottom: 10px;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services-box > h3 {
  margin-bottom: 10px;
  margin-top: 0;
  color: #00492E;
}

.services-box > p {
  padding-top: 5px;
  letter-spacing: 0.5px;
  font-size: 0.825em;
  width: 70%;
  margin: 0 auto;
  line-height: 1.5em;
}

.services-box > img {
  width: 80px;
  height: 80px;
  margin: 0 auto 10px;
}

/* Prices */

.prices {
  background-color: #00492E;
  margin: 0;
  color: #fff;
  padding: 20px 30px;
}

.prices-container {
  width: 80%;
  margin: 0 auto;
  text-justify: auto;
  text-align: justify;
}

.prices-container > p {
  margin-bottom: 10px;
  
}

.prices-container > h3 {
  margin: 20px 0;
  color: #CF9831;
  position: relative;
  z-index: 1;
  font-size: 2em;
  text-align: center;
}

.prices-container > h3:before {
  content: "";
  position: absolute;
  left: 42.5%;
  bottom: -5px;
  height: 2px;
  width: 15%;
  border-bottom: 3px solid #CF9831;

}


.prices-container > h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.prices-container > ul {
  /* list-style-type: none; */
}

.prices-container > ul  li:before {
  /* content: '\2014'; */
}

.prices-container > ol li { 
  /* list-style-type: none; */
  margin-left: 5px;
}

.prices-addinfo {
  list-style-type: circle;

}


/* Contact */

.contact > h1 {
  margin: 30px auto;
  text-align: center;
}

.contact-container {
  display: flex;
  padding: 1em 5em;
}

.contact-info {
  flex: 1;
  padding: 20px;
}

.email-info {
  flex: 1;
  padding: 20px;
}



/* Form */

.custom-form {
  /* width: 70%;  */
  margin: auto; 
  text-align: center; 
}

.custom-form input,
.custom-form textarea {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  margin-bottom: 20px;
  padding: 8px; 
  height: 40px; 
  transition: background-color 0.3s; 
}

.custom-form input:focus,
.custom-form textarea:focus {
  outline: none;
  background-color: rgba(200, 200, 200, 0.3); 
}

.custom-form textarea {
  height: 120px; 
}

.custom-form > .submit-button {
  margin: 0 auto;
  margin-top: 20px;
  background-color: #00492E;
  padding: 8px 16px; 
  border: none; 
  color: #fff; 
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s; 
  width: 60%;
}

.custom-form > .submit-button:hover {
  background-color: #CF9831;
  color: #fff; 
  
}

