* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  /* background-color: #4b6d0e; */
  color: #000000;
}

.menu-items {
  display: flex;
  gap: 2em;
}

.logo {
  width: 200px;
}
